* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font family base */
    --font-family: 'Inter', sans-serif;

    --title: 700 24px/133% var(--font-family);
    --label: 500 16px/125% var(--font-family);
    --paragraph: 500 16px/125% var(--font-family);
    --link: 400 14px/114% var(--font-family);

    /* === Background === */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* === Color === */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* === Content === */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* === Border === */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

html {
    font-family: var(--font-family);
    color: var(--content-secondary);
    font: var(--paragraph);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: var(--background-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.desktop-only {
    display: none;
}

@media (width >= 501px) {
    .desktop-only {
        display: block;
    }
}